.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89.5vh;
    background-color: #02001e;
}
.main-page #name{
    color:aliceblue
}
.main-page h1{
    font-size: 3rem;
    color: #d8c4c4;
    margin-top: -10px;
}
.main-page #typewriter{
    margin-top: -10px;
}
.main-page #typewriter .typewriter-front{
    color: #fff4f4;
}