.about{
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #02001E;
}
.about-me{
    width: 90vw;
    padding: 10px;
    margin-left: 100px;
    margin-top: 10px;

}
#about-me{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px;   
    color: whitesmoke;
}

.img-parent img{
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
    margin-top: -10px;
}

.about-content{
    height: 30vh;
    width: 90%;
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    gap:20px;
    color: whitesmoke;

}
.text-parent{
    text-align: start;
    color: whitesmoke;
    font-size: larger;

}

.interest{
    height: 40vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 70px;
    margin-left: 10em;
    color: whitesmoke;

}
#interest-id{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: start;
    color: whitesmoke;

}
.interest-child{
    height: 60px;
    width: 200px;
    border: 1px white solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: whitesmoke;
    background-color: #112240;
    font-size: larger;
    font-weight: 800;

}
.interest-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    flex-wrap: wrap;
    gap: 15px;
    color: whitesmoke;

}

